# Node
node_modules/
dist/
coverage/
*.log

# Entornos virtuales de Python (sidecars) — pesan GB
.venv/
**/.venv/
venv/

# Variables de entorno
.env

# Python (Caché global)
**/__pycache__/
*.pyc

# Modelos y pesos pesados (Binarios IA)
*.onnx
*.bin
*.pt

# Audios temporales
*.wav
*.mp3
